{% extends "layout.html" %}

{% block page_title %}
  Check your answers
{% endblock %}

{% block content %}

<main id="content" role="main">

<div class="grid-row">
    <div class="column-two-thirds">

  <h1 class="heading-large">
    Activity history
  </h1>

    </div>
</div>

  <!-- search bar -->
  <div class="find-licence" style="">
    <label for="postcode" style="">
    <input class="form-control" placeholder="eg check, update, notification," value="" style=""></label>
    <a href="found-local-police" class="button">Find</a>
  </div>

  <table class="check-your-answers">

    <thead>
      <tr>
        <th colspan="2">
          <h2 class="heading-medium">
            Fishing licence: 345 612 895
          </h2>
        </th>
        <th>
        </th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>
          Issued:
        </td>
        <td>
          12 December 2015
        </td>
        <td class="change-answer">
          <a href="#">
            View <span class="visuallyhidden">Exporter name</span>
          </a>
        </td>
      </tr>
      <tr>
        <td>
          Enforcement check:
        </td>
        <td>
          22 April 2016
        </td>
        <td class="change-answer">
          <a href="#">
            View <span class="visuallyhidden">Exporter name</span>
          </a>
        </td>
      </tr>
      <tr>
        <td>
          Updated:
        </td>
        <td>
          28 September 2016 
        </td>
        <td class="change-answer">
          <a href="#">
            View <span class="visuallyhidden">Exporter name</span>
          </a>
        </td>
      </tr>
      <tr>
        <td>
          Reminder sent:
        </td>
        <td>
          8 December 2016 
        </td>
        <td class="change-answer">
          <a href="#">
            View <span class="visuallyhidden">Exporter name</span>
          </a>
        </td>
      </tr>
      <tr>
        <td>
          Renewed:
        </td>
        <td>
          11 December 2016 
        </td>
        <td class="change-answer">
          <a href="#">
            View <span class="visuallyhidden">Exporter name</span>
          </a>
        </td>
      </tr>
      <tr>
        <td>
          Reminder sent:
        </td>
        <td>
          8 December 2016 
        </td>
        <td class="change-answer">
          <a href="#">
            View <span class="visuallyhidden">Exporter name</span>
          </a>
        </td>
      </tr>
      <tr>
        <td>
          Renewed:
        </td>
        <td>
          11 December 2016 
        </td>
        <td class="change-answer">
          <a href="#">
            View <span class="visuallyhidden">Exporter name</span>
          </a>
        </td>
      </tr>
      <tr>
        <td>
          Reminder sent:
        </td>
        <td>
          8 December 2017 
        </td>
        <td class="change-answer">
          <a href="#">
            View <span class="visuallyhidden">Exporter name</span>
          </a>
        </td>
      </tr>
      <tr>
        <td>
          Expired:
        </td>
        <td>
          10 December 2017 
        </td>
        <td class="change-answer">
          <a href="#">
            View <span class="visuallyhidden">Exporter name</span>
          </a>
        </td>
      </tr>
      <tr>
        <td>
          Renewed:
        </td>
        <td>
          14 December 2017 
        </td>
        <td class="change-answer">
          <a href="#">
            View <span class="visuallyhidden">Exporter name</span>
          </a>
        </td>
      </tr>
    </tbody>
  </table>  

</main>

{% endblock %}
