{{<layout}}

{{$pageTitle}}
	Payment confirmed
{{/pageTitle}}

{{$content}}

<main id="content" role="main">

		<div class="payment-confirmed">
			<h1><img src="/public/images/tick-icon.png">Your payment has been successful</h1>
			 <h3>Reference number:</h3>
			 <p>43236WPGV</p>
		</div>

		<div class="grid-row">
    	<div class="column-two-thirds">
    		<div class="form-group"></div>
			<!-- <h2 class="heading-large">What happens next</h2> -->
			<p>We will email you a receipt shortly.</p>
			<p>If you have not paid the full amount you will be contacted by Cumbria Police, who issue firearm licences in your area.</p>

			<h3 class="heading-medium">Payment summary</h3>
			<table class="table-pay">
			    <tbody>
			      <tr>
			        <td>Payment of:</td>
			        <td class="table-info">Firearm application fee to Cumbria Police</td>
			      </tr>
			      <tr>
			        <td>Amount paid:</td>
			        <td class="table-info">£110.00</td>
			      </tr>
			    </tbody>

			  </table>
		</div>
		</div>

	<div class="finish-and-return">
		<div class="form-group">
	 		<a href="check-your-answers-page"><button class="button">Continue</button></a>
	 	</div>
	</div>

</main>

{{/content}}

{{/layout}}
