{% extends "layout_renew_licence.html" %}

{% block page_title %}
  choose-payment
{% endblock %}

{% block content %}

  <main id="content" role="main">

    {{formData | safe}}

    <div class="grid-row">
      <div class="column-two-thirds">

        <div class="govuk-box-highlight" style="">
          <h1 class="bold-large">Payment successful</h1>
          <p>
          Your reference number is <br>
          <strong class="heading-medium">HTJ2123F</strong>
        </p>
        </div>

        <p>We have sent you a confirmation email.</p>

        <table class="check-your-answers">

      <thead>
        <tr>
          <th colspan="2">
            <h2 class="heading-medium">
              Payment details
            </h2>
          </th>
          <th>
          </th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>
            Amount paid:
          </td>
          <td>
            £27<br>
          </td>
          <td class="change-answer">
            <a href="#">
              <span class="visuallyhidden">Change</span>
            </a>
          </td>
        </tr>
        <tr>
          <td>
            Start date:
          </td>
          <td>
            Today<br>
          </td>
          <td class="change-answer">
            <a href="#">
              <span class="visuallyhidden">Change</span>
            </a>
          </td>
        </tr>
        <tr>
          <td>
            Licence length:
          </td>
          <td>
            12 months<br>
          </td>
          <td class="change-answer">
            <a href="#">
              <span class="visuallyhidden">Change</span>
            </a>
          </td>
        </tr>
        <tr>
          <td>
            Fish you can catch:
          </td>
          <td>
            Coarse fish, eels<br>
          </td>
          <td class="change-answer">
            <a href="#">
              <span class="visuallyhidden">Change</span>
            </a>
          </td>
        </tr>
        <tr>
          <td>
            Licence number:
          </td>
          <td>
            6242 6372 4961 0351<br>
          </td>
          <td class="change-answer">
            <a href="#">
              <span class="visuallyhidden">Change</span>
            </a>
          </td>
        </tr>
      </tbody>
    </table>

    </div>
  </div>

</main>


{% endblock %}
