{% extends "layout.html" %}

{% block page_title %}
  choose-payment
{% endblock %}

{% block content %}

  <main id="content" role="main">

    {{formData | safe}}

    <div class="grid-row">
      <div class="column-two-thirds">

        <div class="govuk-box-highlight" style="">
          <h1 class="bold-large">Fishing licence</h1>
          <p>
            345 612 895<br><br>
            <strong class="heading-medium">Expires in: 3 days </strong>
          </p>
        </div>

        <table class="check-your-answers">

      <thead>
        <tr>
          <th colspan="2">
            <h2 class="heading-medium">
              Payment details
            </h2>
          </th>
          <th>
          </th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>
            Licence length:
          </td>
          <td>
            12 months<br>
          </td>
          <td class="change-answer">
            <a href="#">
              <span class="visuallyhidden">Change</span>
            </a>
          </td>
        </tr>
        <tr>
          <td>
            Amount paid:
          </td>
          <td>
            £27<br>
          </td>
          <td class="change-answer">
            <a href="#">
              <span class="visuallyhidden">Change</span>
            </a>
          </td>
        </tr>
        <tr>
          <td>
            Fish you can catch:
          </td>
          <td>
            Coarse fish, eels<br>
          </td>
          <td class="change-answer">
            <a href="#">
              <span class="visuallyhidden">Change</span>
            </a>
          </td>
        </tr>
        <tr>
          <td>
            Date of issue:
          </td>
          <td>
            23 April 2016<br>
          </td>
          <td class="change-answer">
            <a href="#">
              <span class="visuallyhidden">Change</span>
            </a>
          </td>
        </tr>
      </tbody>
    </table>

    <br>
    <br>

    <p>
      <a class="button" href="/renew/update_details_yes_no" role="button">Continue</a>   
    </p>

    </div>
  </div>

</main>


{% endblock %}
